body {
    background: #F3F3F8;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 235px;
    height: 40px;
    border: solid 0.5px #B6B6B6;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    padding: 2px 60px 2px 10px;
}

#msgArea {
    background: #6B6C72;
    border-radius: 20px;
    height: 400px;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    padding: 20px 20px 20px 0px;
    overflow-y: auto;
    word-wrap: break-word;
    width: 100%;
}

button {
    border-radius: 50px;
    height: 30px;
    width: 50px;
    border: solid 0.5px #B1B1B1;
    position: absolute;
    right: 7px;
    bottom: 7px;
    transition: 0.2s;

}

.input {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
button:active {
    background: #A6A6A6;
}

li {
    list-style-type: none;
    font-size: 20px;
    background-color: #A6A6A6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
    color: #0f110f;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

strong {
    color: #004725;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}