<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>sign up</title>
  </head>
  <body>
    <div id="box">
      <h2>sign up</h2>
      <div class="inputs">
        <form action="/signUp" method="post">

        <input
          oninput="checkInputs()"
          type="text"
          id="nameInput"
          name="name"
          placeholder="Enter your username"
          autocomplete="off"
        />
        <input
          oninput="checkInputs()"
          type="password"
          id="passwordInput"
          name="password"
          placeholder="Enter your password"
          paste="false"
        />
        <input
          oninput="checkInputs()"
          type="email"
          id="emailInput"
          name="email"
          placeholder="Enter your email"
        />
      </div>

      <div class="gender">
        <div style="display: flex; justify-content: space-around">
          <label for="male">Male</label>
          <label for="female">Female</label>
        </div>
        <div style="display: flex; justify-content: space-around">
          <input
            onclick="checkInputs()"
            type="radio"
            id="male"
            name="gender"
            value="male"
          />
          <input
            onclick="checkInputs()"
            type="radio"
            id="female"
            name="gender"
            value="female"
          />
        </div>
      </div>


      <button type="submit" disabled>sign up</button>
      {% if error %}
        <p style="color: red">{{ error }}</p>
      {% endif %}
        </form>

    </div>

    <script src="{{url_for('static', filename='sign_up.js')}}"></script>
  </body>
</html>