<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div id="box">
      <form action="/signIn" method="post">
        <h2>Sign In</h2>
        <input type="text" placeholder="write username" name="name" autocomplete="off" />
        <input type="password" placeholder="write password" name="password" autocomplete="off" />
        <button type="submit">Finished</button>
        {% if error %}
          <p style="color: red">{{ error }}</p>
        {% endif %}
      </form>

    </div>
    <script
      type="script"
      src="{{url_for('static', filename='script.js')}}"
    ></script>
  </body>
</html>
